<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/captcha.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}"> </script>
  <script src="{{ url_for('static', filename='js/captcha.js')}}"> </script>
</head>
<body>
  <div class="well">

  {% if tried %}
  <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
    You incorrectly identified an image, please try again
  </div>
  {% endif %}

  <form id="form" class="form-horizontal" method="post" action="/">
  <fieldset>

  <!-- Form Name -->
  <legend>Register to get Free WIFI</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Full Name</label>
    <div class="col-md-4">
    <input id="name" name="name" type="text" placeholder="e.g: Christopher Wiseman" class="form-control input-md" >
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>
    <div class="col-md-4">
    <input id="email" name="email" type="text" placeholder="e.g: someone@example.com" class="form-control input-md" >
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="robotcheck">Robot Check</label>
    <div class="col-md-4">
      <span class="help-block">Help us collect data on our railway</span>
      <div id="robotcheck" name="robotcheck">
        {{questions|safe}}
      </div>
    </div>
  </div>


  </fieldset>
  </form>
</div>

</body>
</html>
