<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/captcha.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}"> </script>
  <script src="{{ url_for('static', filename='js/captcha.js')}}"> </script>
</head>
<body>
  <div class="well">
  <form class="form-horizontal" method="post" action="/">
  <fieldset>

  <!-- Form Name -->
  <legend>Register for Free Wifi</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Full Name</label>
    <div class="col-md-4">
    <input id="name" name="name" type="text" placeholder="John Doe" class="form-control input-md" >
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>
    <div class="col-md-4">
    <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" >
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="robotcheck">Robot Check</label>
    <div class="col-md-4">
    <div id="robotcheck" name="robotcheck" placeholder="">
      {{questions|safe}}
    </div>
    <span class="help-block">Help us collect data on our railway</span>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="register"></label>
    <div class="col-md-4">
      <button id="register" name="register" class="btn btn-success">Register</button>
    </div>
  </div>

  </fieldset>
  </form>
</div>

</body>
</html>
